.ExampleSliders .Slider-slides > div {
  padding: 100px 0;
  font-size: 100px;
  line-height: 100px;
  height: auto;
  color: #fff;
  text-align: center;
}

.Slider {
  margin: 15px 0;
}

.projectImage {
  width: 100%;
  height: auto;
}